

.auth-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/0_z6DBs7FzNFcMLWiU.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    

    .auth-modal {
        background-color: rgb(245, 245, 245);
        padding: 20px;
        width: 500px;
        height: 500px;
        border-radius: 15px;
        color: rgb(252, 0, 0);
        background-image: url("../../../public/nebulosa.jpg");
    }   
}

.logeador{
    width: auto;
}
.register-boton{
    color: rgb(255, 0, 0);
    font-size: 18px;
}