
.detail-box {
    border: 1px solid #ddd; /* Borde del cuadro */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo */
  }
